[Desktop Entry]
Version=1.0
Type=Application
Name=Nestcal
Comment=Monitors calendars via .ics links and issues meeting reminders
# Update Exec to the full path where you've installed nestray.py
Exec=/home/davydm/code/opensource/nestcal/nestcal_tray.py
Icon=x-office-calendar
Terminal=false
Categories=Office;Email;
Keywords=calendar;tray
StartupNotify=false
